@tailwind base;
@tailwind components;
@tailwind utilities;

.header-gradient {
  background: linear-gradient(
    180deg,
    #00050d,
    rgba(0, 5, 13, 0.9) 50%,
    rgba(0, 5, 13, 0.5) 80%,
    rgba(0, 5, 13, 0)
  );
}

::-webkit-scrollbar {
  width: 0px;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 1rem !important; 
}

.swiper-pagination-bullet {
  background: white !important;
}