@tailwind base;
@tailwind components;
@tailwind utilities;

.header-gradient {
  background: linear-gradient(
    180deg,
    #00050d,
    rgba(0, 5, 13, 0.9) 50%,
    rgba(0, 5, 13, 0.5) 80%,
    rgba(0, 5, 13, 0)
  );
}

::-webkit-scrollbar {
  width: 0px;
}

.swiper-slide {
  width: auto !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 48%) !important;
  color: white !important;
  opacity: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1rem !important;
}

.swiper-button-disabled {
  visibility: hidden;
}

#swiperParent:hover .swiper-button-next,
#swiperParent:hover .swiper-button-prev {
  opacity: 1;
}

.swiper-pagination-bullet {
  background: white !important;
}

.swiper-pagination-horizontal {
  position: initial !important;
}

@media (pointer: fine) {
  .mButton {
    background-color: hsla(0, 0%, 100%, 0.2);
  }
  .mButton:hover {
    background-color: white;
    color: black;
  }
}

.media-scroller {
  overscroll-behavior-inline: contain;
}

/* 
.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
} */
